*.log
npm-debug.log*
node_modules/
.npm
dist
.DS_Store
*.swp
.Ipmsfont.manifest
project.config.json
project.private.config.json
*.zip
*.pem
*.env
console-web/node_modules/
api-server/node_modules/
api-server/uploads/
api-server/dist/
console-web/dist.tar.gz
api-server/README.md
